h1 {
    color: rgb(25, 0, 255);
    font-size: 45px;
    background-color: rgb(40, 212, 218);
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    padding: 15px;
}

p {
    color: rgb(162, 0, 255);
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}

button {
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 35px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}